.bookshelves-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  min-height: 100vh;
  background: #e5e5e5;
}

.bookshelves-content {
  height: 100%;
  max-width: 1000px;
  width: 90%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  border: 1px solid black;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: space-between;
  width: 264px;
  height: 34px;

  background: #ffffff;

  border-radius: 4px;
}

.search-icon {
  width: 52px;
  height: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #edeff1;
  border-radius: 0px 3px 3px 0px;
}

.search-input {
  width: 100%;
  border: none;
}

.top-search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid green;
}

.books-list-container {
  width: 100%;
  height: 100vh;

  border: 1px solid red;
}

.books-ul-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid black;
  padding-left: 0px;
  overflow-y: auto;
  height: 100%;
  align-items: center;
}
